/* Global styles */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Maven Pro", Helvetica, sans-serif;
  font-size: 1rem;
}

/* clearfix */

.clearfix::before,
.clearfix::after {
  content: ' ';
  display: table;
}

.clearfix::after {
  clear: both;
}

/* end clearfix */

/* Banner styles */

.banner {
  background-image: url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding-bottom: 3em;
}

.banner__wrapper {
  width: 100%;
  margin: 0 auto;
}

/* logo */

.banner__logo {
  font-size: 1.25em;
  font-weight: 900;
  color: #eee;
  margin: 1em 1em 1em 4.5em;
  text-align: center;
  line-height: 3em;
  position: relative;
}

.banner__logoimg {
  position: absolute;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: 0 .2em;
  overflow: visible;
  width: 100%;
  height: 100%;
  margin-left: -3.5em;
}

/* end logo */

/* navigation */

.banner__nav {
  list-style: none;
}

.banner__navlink {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  display: inline-block;
  text-align: center;
  padding: .5em;
  width: 45%;
}

.banner__navlink:hover {
  text-shadow: 0 0 5px #aaa;
}

.banner__call {
  background-color: rgb(123, 181, 21);
  border: 0;
  border-radius: .5em;
  color: #fff;
  font-size: .8rem;
  font-weight: 900;
  margin: 1em auto;
  display: block;
  padding: .6em .9em;
}

.banner__jumbo {
  font-size: 2rem;
  color: #fff;
  margin: 1em auto 0.5em;
  text-align: center;
}

.banner__jumbo--green {
  color: rgb(123, 181, 21);
}

.banner__subtitle {
  width: 80%;
  font-size: 1rem;
  color: white;
  text-align: center;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  padding: 2em 0;
  margin: auto;
}

.banner__playbutton {
  display: block;
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #fff;
  margin: 2em auto .5em;
}

.banner__playbutton::before {
  content: ' ';
  position: absolute;
  top: 19px;
  left: 15px;
  width: 25px;
  height: 25px;
  border-top: 2px solid rgb(123, 181, 21);
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid rgb(123, 181, 21);
  transform: rotate(45deg);
  background-image: -webkit-linear-gradient(bottom left, transparent 49%, rgb(123, 181, 21) 0%, rgb(123, 181, 21) 55%, transparent 0%),
                    -webkit-linear-gradient(bottom left, transparent 49%, rgb(123, 181, 21) 0%, rgb(123, 181, 21) 55%, transparent 0%);

  background-image: -o-linear-gradient(bottom left, transparent 49%, rgb(123, 181, 21) 0%, rgb(123, 181, 21) 55%, transparent 0%),
                    -o-linear-gradient(bottom left, transparent 49%, rgb(123, 181, 21) 0%, rgb(123, 181, 21) 55%, transparent 0%);

  background-image: linear-gradient(to top right, transparent 49%, rgb(123, 181, 21) 0%, rgb(123, 181, 21) 55%, transparent 0%),
                    linear-gradient(to top right, transparent 49%, rgb(123, 181, 21) 0%, rgb(123, 181, 21) 55%, transparent 0%);

  background-position: 1px 1px, -1px -1px;
  background-repeat: no-repeat;
}

.banner__playbutton:hover {
  cursor: pointer;
}

.banner__subtitle--italic {
  font-style: italic;
}

/* Packages section */

.packages {
  background-color: rgb(116, 183, 47);
  padding-top: 2em;
}

.packages__title {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1em;
  width: 80%;
}

.packages__subtitle {
  font-size: 1rem;
  color: white;
  text-align: center;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  width: 80%;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 2em;
}

.packages__wrapper {
  box-sizing: border-box;
  width: 90%;
  margin: 0 auto;
}

.packages__item {
  box-sizing: border-box;
  width: 100%;
  background-color: rgb(36, 36, 36);
  padding: 10%;
  margin-top: .5em;
}

.packages__packageimg {
  margin: 0 auto 2em auto;
  text-align: center;
}

.packages__subheader {
  text-transform: uppercase;
  color: rgb(129, 127, 127);
  text-align: center;
}

.packages__header {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 3em;
  margin: .5em auto;
}

.packages__description {
  font-size: 1rem;
  color: rgb(255, 255, 255);
  text-align: center;
}

.packages__price {
  text-transform: uppercase;
  color: rgb(116, 183, 47);
  text-align: center;
  font-size: 3em;
  margin: .5em auto;
}

.packages__buy-button {
  font-size: 2em;
  font-weight: 900;
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: rgb(113, 195, 62);
  padding: .5em .8em;
  border-radius: .3em;
}

.advantages {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 4em 0;
}

.advantages__title {
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1em;
  width: 80%;
}

.advantages__subtitle {
  font-size: 1rem;
  color: rgb(0, 0, 0);
  text-align: center;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  width: 80%;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 2em;
}

.advantages__wrapper {
  width: 80%;
  margin: auto;
}

.advantages__item {
  margin: 1em auto;
}

.advantages__item-ico {
  text-align: center;
}

.advantages__item-title {
  text-transform: uppercase;
  color: rgb(112, 199, 66);
  margin: 1em auto;
}

.advantages__item-description {
  font-size: 1rem;
  color: rgb(121, 121, 121);
  text-align: center;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  width: 80%;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 2em;
}

.advantages__button {
  display: block;
  text-decoration: none;
  max-width: 45%;
  margin: 1em auto;
  text-align: center;
  padding: 1em 1.2em;
  color: rgb(136, 205, 89);
  border: 2px solid rgb(136, 205, 89);
  border-radius: .5em;
  text-transform: uppercase;
  font-weight: 900;
}

.advantages__button--green {
  background-color: rgb(136, 205, 89);
  color: rgb(255, 255, 255);
  text-transform: none;
  font-weight: 400;
}

.overview {
  background-color: rgb(36, 36, 36);
  color: rgb(255, 255, 255);
  padding: 2em;
  &__title {
    text-align: center;
    margin: 1em;
  }
  &__subtitle {
    text-align: justify;
    margin: 1em;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
  &__table {
    border-collapse: collapse;
    width: 100%;
    & td, & th {
      border: 1px solid rgb(75, 109, 36);
      width: 25%;
      padding: 1em;
      text-align: center;
    }
    & th {
      border: 0;
      border-bottom: 1px solid rgb(75, 109, 36);
      text-transform: uppercase;
      font-weight: 400;
      &:first-child {
        background-color: rgb(116, 183, 47);
        font-size: .5em;
        text-transform: capitalize;
      }
    }
    &--buttons {
      & td {
        border: 0;
      }
      & a {
        background-color: rgb(113, 195, 62);
        text-decoration: none;
        color: rgb(255, 255, 255);
        display: block;
        border-radius: .3em;
        padding: .2em;
      }
    }
  }
}

.clients {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 2em;
  &__title {
    text-align: center;
  }
  &__subtitle {
    text-align: justify;
    margin: 1em;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
  &__list {
    list-style: none;
    padding: 2em;
    & li {
      margin: 1em auto;
      text-align: center;
      & img {
        height: 1.5rem;
      }
    }
  }
}

.footer {
  background-color: rgb(36, 36, 36);
  color: rgb(203, 203, 203);
  padding: 2em;
  &__links {
    list-style: none;
    & li {
      display: inline-block;
      width: 45%;
      text-align: center;
      padding: .5em;
      & a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}
