/* Global styles

 */

* {

  margin: 0;

  padding: 0;

}



body {

  font-family: "Maven Pro", Helvetica, sans-serif;

  font-size: 1rem;

}




/* clearfix

 */

.clearfix::before, 
.clearfix::after {

  content: ' ';

  display: table;

}



.clearfix::after {

  clear: both;

}



/* end clearfix */




/* Banner styles */



.banner {

  background-image: url(../images/header-bg.jpg);

  background-repeat: no-repeat;

  background-position: top center;

  background-size: cover;
}



.banner__wrapper {

  width: 100%;

  margin: 0 auto;

}



/* logo */


.banner__logo {

  font-size: 1.25em;
  font-weight: 900;

  color: #eee;
  margin: 1em 1em 1em 4.5em;
  text-align: center;
  position: relative;
  line-height: 3em;
}

.banner__logoimg {
  position: absolute;
  background-image: url(../images/logo.png);

  background-repeat: no-repeat;
  background-position: 0 .2em;
  overflow: visible;
  width: 100%;
  height: 100%;
  margin-left: -3.5em;
}





/* end logo */

/* navigation */

.banner__nav {
  list-style: none;
}


.banner__navlink {

  padding-right: 4em;

  color: #fff;

  text-decoration: none;

  font-size: 1rem;

  display: inline-block;
  text-align: center;
}



.banner__call {
  font-size: 1rem;

  font-weight: 900;

  border: 0;

  border-radius: .5em;

  padding: 1.2em 1.3em;

  margin-top: -1em;

}

.banner__call--green {

  background-color: rgb(123, 181, 21);

  color: #fff;

}


.banner__jumbo {

  font-size: 2rem;

  color: #fff;

  margin: 3em auto 1.5em;

  text-align: center;

}


.banner__jumbo--green {

  color: rgb(123, 181, 21);

}



.banner__subtitle {

  width: 70%;

  font-size: 1rem;

  color: white;

  text-align: center;

  margin: 2em auto;

}


.banner__playbutton {

  display: block;

  position: relative;

  width: 70px;

  height: 70px;

  border-radius: 50%;
  background-color: transparent;

  border: 2px solid #fff;

  margin: 5em auto .5em;

}



.banner__playbutton::before {

  content: ' ';

  position: absolute;

  top: 19px;

  left: 15px;

  width: 25px;

  height: 25px;

  border-top: 2px solid rgb(123, 181, 21);

  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;

  border-right: 2px solid rgb(123, 181, 21);

  transform: rotate(45deg);

  background-image: -webkit-linear-gradient(bottom left, transparent 49%, rgb(123, 181, 21) 0%, rgb(123, 181, 21) 55%, transparent 0%),

                    -webkit-linear-gradient(bottom left, transparent 49%, rgb(123, 181, 21) 0%, rgb(123, 181, 21) 55%, transparent 0%);


  background-image: -o-linear-gradient(bottom left, transparent 49%, rgb(123, 181, 21) 0%, rgb(123, 181, 21) 55%, transparent 0%),

                    -o-linear-gradient(bottom left, transparent 49%, rgb(123, 181, 21) 0%, rgb(123, 181, 21) 55%, transparent 0%);


  background-image: linear-gradient(to top right, transparent 49%, rgb(123, 181, 21) 0%, rgb(123, 181, 21) 55%, transparent 0%),

                    linear-gradient(to top right, transparent 49%, rgb(123, 181, 21) 0%, rgb(123, 181, 21) 55%, transparent 0%);


  background-position: 1px 1px, -1px -1px;

  background-repeat: no-repeat;

}


.banner__playbutton:hover {

  cursor: pointer;

}


.banner__subtitle--italic {

  padding-bottom: 7em;

}


.banner__subtitle--italic {

  font-style: italic;

}